/CarTest.class
/ClockTest.class
/CoordinatesTest.class
/CustomerTest.class
/DateTest.class
/DriverTest.class
/EnvironmentTest.class
/InvalidDateExceptionTest.class
/InvalidLocationExceptionTest.class
/InvalidPassengersNbExceptionTest.class
/MarkOutOfRangeExceptionTest.class
/RideTest.class
/UberPoolTest.class
/PoolRequestTest.class
